@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

html {
    font-family: 'MullerRegular', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'MullerRegular', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.header-container-up {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-container-down {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-img {
    margin-right: 40px;
}

.personal-area {
    margin-left: auto;
}

.nav-list {
    margin-left: 45px;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-right: 45px;
}

.header {
    margin-top: 30px;
    margin-bottom: 70px;
    height: 154px;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 15px;
    border-color: #CC9933;
    color: #CC9933;
    background-color: white;
    cursor: pointer;
}

.header-btn:not(:last-child) {
    margin: 45px 45px;
}

.special-offer-list {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.special-offer-left {
    width: 572px;
}

.special-offer-right {
    width: 572px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    width: 50%;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 25%;
}

.accommodation-list {
    display: flex;
    flex-wrap: wrap;
}

.accommodation-item {
    width: 33%;
}
